## Rename this file to config.py

FB_ACCESS_TOKEN=""
POOL_SIZE = 4
OFFSET = None
# Offset the current date for debug purposes
# OFFSET = -2
USER_AGENT = ""
PERSISTENT_CACHE = False
REQUEST_TIMEOUT = 5 # seconds