[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3'

[packages]
lxml = "==4.2.5"
flask = "==1.0.2"
pillow = "==5.2.0"
requests = "==2.19.1"
redis = "==2.10.6"

[dev-packages]
pylint = "*"
