body {
  margin: 0 auto;
  max-width: 42em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, "Fira Sans", "Liberation Sans", Ubuntu, sans-serif;
  line-height: 1.5;
  background: #d2d2d4;
  background-color: #d2d2d4;
  /* background image source: http://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  color: #2c4786;
}

.menu {
  background: #fefefe;
  border-radius: 5px;
  padding: 0.4em;
}

section > header::before {
  background: #7b9bc3;
  content: "";
  flex-grow: 1;
  order: 1;
  height: 2px;
  margin-right: 10px;
  margin-left: 10px;
}

span {
  order: 2;
}

a {
  color: #2c4786;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-size: 1.1em;
}

.close {
  cursor: pointer;
  color: #999;
}

h1 {
  margin: 0;
  font-size: 1.3em;
}

body > header {
  display: none;
  padding: 0.2em;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4em;
}

header > a {
  display: none;
}

section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
  margin-left: 0.4em;
}

.loading {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin: 2em;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 0.6em;
  padding: 1.5em;
}

footer > div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
}

footer > div > a {
  margin-left: 10px;
}