* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.2;
  background: steelblue;
  background: url('../bg.png');
  background-attachment: fixed;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans,
    "Fira Sans", "Liberation Sans", Roboto, Ubuntu, Cantarell, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

body > header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 0.3em 1em;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  background: #e3e3e2;
  font-weight: bold;
  margin-bottom: 0.7em;
}

#settings {
  cursor: pointer;
}

#settings:hover {
  text-decoration: underline;
}


main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 50em;
  flex-grow: 1;
}

section {
  background: #fefefe;
  padding: 0.8em;
  margin-bottom: 2px;
  border: 1px dashed rgb(0, 0, 0, .1);
}

section:hover {
  border: 1px solid rgb(0, 0, 0, .1);
}

section header {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 0.2em;
  color: #336b87;
}

.controls {
  margin-left: auto;
}

.controls div {
  display: flex;
  align-items: center;
}

.controls input {
  margin: 4px;
}

a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


footer {
  background: #e3e3e2;
  padding: 1em;
  border-top: solid 2px #a6968c;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-self: flex-end;
  margin-top: 4em;
  line-height: 1.4em;
}

.card {
  font-size: 0.8rem;
  padding: 2px;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.65);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 4px;
  border-radius: 2px;
}

.szep {
  background-color: rgba(28, 64, 40, 0.7);
}

.erzs {
  background-color: rgba(237, 100, 46, 0.7);
}

.close {
  display: none;
}
