<!doctype html>
<html lang="hu">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#e3e3e2">
  <meta name="description" content="Budapest belvárosi napi ebéd menük Covin negyed és Ferenciek tere környékéről">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">

  <title>Ebédke</title>

  <link rel="stylesheet" href="css/main.css?20191114v2">
  <link rel="icon" href="favicon.png">
  <link rel="manifest" href="manifest.webmanifest">

  <script src="js/jquery-3.4.1.min.js"></script>
  <script defer src="js/script.js?20191113"></script>

  <noscript>
    <link rel="stylesheet" href="css/nojs.css">
  </noscript>
</head>

<body>
  <header>
    <span>{{ date.day }} ({{ date.date | replace(' ', '&nbsp;') | safe }})</span>
    <div>
      <span id="reset" hidden>&#10227;&nbsp;RESET</span>
      <span id="settings">&#8661;&nbsp;Átrendezés</span>
    </div>
  </header>
  <main>
    <header>
      <h1><a href="https://ebed.today">ebéd 🍽 today</a></h1>
      {%- if welcome -%}
      <ul>
        <li><a href="https://szell.ebed.today">Széll Kálmán tér</a></li>
        <li><a href="https://corvin.ebed.today">Corvin negyed</a></li>
        <li><a href="https://moricz.ebed.today">Móricz Zsigmond körtér</a></li>
        <li><a href="https://szepvolgyi.ebed.today">Szépvölgyi út</a></li>
        <li><a href="https://ferenciek.ebed.today">Ferenciek tere</a></li>
      </ul>
      {%- endif %}
    </header>
    {%- for menu in menus %}
    <section data-id="{{ menu.id }}">
      <header>
        <span class="left-controls" hidden>
          <input id="box{{ menu.id }}"  type="checkbox" checked>
          <label for="box{{ menu.id }}">{{ menu.name }}</label>
        </span>
        <span translate="no"><a href="{{ menu.url }}" target="_blank" rel="noopener" rel="nofollow">{{ menu.name }}</a></span>
        {%- for card in menu.cards -%}
        <span class="card {{ card.name }}" title="{{ card.tooltip }}">{{ card.name }}</span>
        {%- endfor -%}
        <span class="right-controls" hidden>
          <button class="up">&#9650;</button><button class="down">&#9660;</button>
        </span>
      </header>
      {{ menu.menu|join('<br>'|safe) }}
    </section>
    {%- endfor -%}
  </main>
  <footer>
    <p>
      A weboldal automatikusan gyűjti össze a menüket az éttermek
      oldalairól. Az ebed.today semmilyen kapcsolatban nem áll az éttermekkel.
    </p>
    <p> <a href="mailto:feedback@ebed.today">visszajelzés emailben</a> </p>
    <p> <a href="https://github.com/ijanos/ebedke">forráskód a GitHubon</a> </p>
    <p> <a href="/privacy.html">Privacy policy</a> </p>
  </footer>
  <script>
    window.goatcounter = {
      path: location.hostname || '/',
    };
  </script>
  <script data-goatcounter="https://ebedke.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
</body>

</html>