[Unit]
Description=EBEDKE updater service
After=redis.service

[Service]
Type=simple
PrivateTmp=yes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ebedkeupdater
Environment="FACEBOOK_ACCESS_TOKEN=secret"
Environment="GOOGLE_API_KEY=secret"
Environment="EBEDKE_LIVE=1"
WorkingDirectory={{ git_root }}
ExecStart={{ app_env }}/bin/python -m ebedke.updater
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
