[Unit]
Description=EBEDKE updater service
After=redis.service

[Service]
Type=simple
PrivateTmp=yes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ebedkeupdater
WorkingDirectory={{ git_root }}
ExecStart={{ app_env }}/bin/python -m ebedke.updater
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
