[Unit]
Description=EBEDKE updater service
After=redis.service

[Service]
Type=simple
PrivateTmp=yes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ebedkeupdater
WorkingDirectory={{ py_workdir }}
ExecStart={{ app_env }}/bin/python {{ py_workdir }}/updater.py
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
