<!doctype html>
<html lang="hu">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ebédke</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <header>
    <span>{{ date.day }} ({{ date.date | replace(' ', '&nbsp;') | safe }})</span>
    <a href="/">Mutass&nbsp;mindent</a>
  </header>
  {% if infobox -%}
  <div class="infobox">
    <span>ℹ️</span><span>{{ infobox }}</span></div>
  {%- endif %}
  <main>
    {%- for menu in menus %}
      <section>
        <header>
          <p><span translate="no"><a href="{{ menu.url }}">{{ menu.name }}</a></span></p>
          {%- for card in menu.cards -%}
          <span class="card {{ card }}">{{ card }}</span>
          {%- endfor -%}
          <span class="close" data-name="{{ menu.name }}">✕</span>
        </header>
        {%- if menu.menu -%}
          <p>{{ menu.menu | safe }}</p>
        {%- endif %}
      </section>
    {%- endfor -%}
  </main>
  <footer>
    <div>
      A weboldal automatikusan gyűjti össze a menüket az éttermek
      oldaliról. Az ebed.today semmilyen kapcsolatban nem áll az éttermekkel.
    </div>
    <div>
      <a href="https://github.com/ijanos/ebedke">forrás</a>
      <a href="mailto:feedback@ebed.today">visszajelzés</a>
    </div>
  </footer>
  <script src="js/script.js"></script>
</body>

</html>