<!doctype html>
<html lang="hu">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ebédke</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <header>
    <div><h1>{{ date.day }}</h1><span>{{ date.date }}</span></div>
    <a href="/">Mutass mindent</a>
  </header>
  <div class="menu">
    {% for menu in menus %}
        <section>
          <header>
              <h2><a href="{{ menu.url }}">{{ menu.name }}</a></h2>
              <span class="close" data-name="{{ menu.name }}">✕</span>
          </header>
          <p>{{ menu.menu | safe }}</p>
      </section>
    {% endfor %}
  </div>
  <footer>
    <div>
      A weboldal automatikusan gyűjti össze a menüket az éttermek
      oldaliról. Az ebed.today semmilyen kapcsolatban nem áll az éttermekkel.
    </div>
    <div>
      <a href="https://github.com/ijanos/ebedke">forrás</a>
      <a href="mailto:feedback@ebed.today">visszajelzés</a>
    </div>
  </footer>
  <script src="js/script.js"></script>
</body>

</html>